
.container{
	min-height: 45em;
	
	/*background-image: url(/images/background.jpg);*/
}
.header{
	text-align: center;
	background-color: #B3B3B3;
	min-height: 30em;
	width: 100%;
	background-image:url("/images/background_gray.jpg");
	color: #FFFFFF;
	padding-top: 150px;
	padding-bottom: 150px;

	.tagline {
		text-align: center;
		color: #FFFFFF;
		margin-top: 4px;
		font-weight: lighter;
		text-transform: uppercase;
		letter-spacing: 1px;
		background-color: #717070;
	}
}
#call{
	color:#52bad5;
	font-style: italic;
}
.navbar{
	width: 100%;
	height: 5%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
	color: black;
	div{
		div{
			a {
				color: #FFF;
			}
		}
	}
}

.Link{
color: white;
text-decoration: none;

}
body {
	//font-family: font-family: 'Arial Narrow', Arial, sans-serif;
	
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

footer {
	/*text-align: left;*/
	height: 5em;
	
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	box-sizing:none;

}
footer div{
	padding-left: 1em;
}


.button {
	background-color:#b3b3b3;
	width: 150px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #337ab7;
	transition: all 0.3s linear;
	
}
.button:hover {
	background-color: #FEFEFE;
	color: Black;
	cursor: pointer;
}
textarea{
	resize: none;
}

.event-container{
	border: 3px solid #FFFFFF;
	margin: 1em;
	padding: 10px;
	box-shadow: 0 0 5px #337ab7;

}
.profile-thumb{
	height: 8em;
}
.profile-thumb img{
	
	height: 100%;
}
.top-thumb{
	height: 4em;
	box-shadow: 0 0 5px #337ab7;
}
.top-thumb img{
	
	height: 100%;
}
.delete {
	width: 100px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 5px;
	padding: 4px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #337ab7;
	transition: all 0.3s linear;
}
.delete:hover {
	background-color: #c04441;
	color: black;
	cursor: pointer;
}
.button-image-upload{
	width: 100px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 5px;
	padding: 4px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #337ab7;
	transition: all 0.3s linear;
	box-shadow: 0 0 5px #337ab7;
}
.button-image-upload:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}

.contact-message{
	border: 3px solid #FFFFFF;
	margin: 1em;
	padding: 10px;
	box-shadow: 0 0 5px #337ab7;
}
.user-logged-in{
	float:right;
}
.banner {
	background-color: #2D9AB7;
	//background-image: url(../images/parallax.png);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
